.container {
  position: relative;
  min-height: calc(100vh - 250px);
  overflow-x: hidden;
  display: block;
  top: 72px;
  padding: 0 calc(3.5vw + 5px);
}

.background {
  left: 0px;
  opacity: 0.8;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: -1;
}

.backgroundImg {
  width: 100vw;
  height: 200vh;
}

.imageTitle {
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin: 0px auto;
  height: 30vw;
  min-height: 170px;
  padding-bottom: 24px;
  width: 100%;
}

.imageTitleImg {
  max-width: 600px;
  min-width: 200px;
  width: 35px;
}

.contentMeta {
  max-width: 874px;
}

.controls {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 24px 0px;
  min-height: 56px;
}

.player {
  font-size: 15px;
  margin: 0px 22px 0px 0px;
  padding: 0px 24px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(249, 249, 249);
  border: none;
  color: rgb(0, 0, 0);
}

.playerImage {
  width: 32px;
}

.player:hover {
  background: rgb(198, 198, 198);
}
.trailer {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
  font-size: 15px;
  margin: 0px 22px 0px 0px;
  padding: 0px 24px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
}

.trailerImage {
  width: 32px;
}

.trailer:hover {
  background: rgb(198, 198, 198);
}

.AddList {
  margin-right: 16px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.AddList:hover {
  background: rgb(198, 198, 198);
}

.AddList span {
  background-color: rgb(249, 249, 249);
  display: inline-block;
}
.AddList span:first-child {
  height: 2px;
  transform: translate(1px, 0px) rotate(0deg);
  width: 16px;
}
.AddList span:nth-child(2) {
  height: 16px;
  transform: translateX(-8px) rotate(0deg);
  width: 2px;
}

.groupWatch {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  cursor: pointer;
  background: white;
}
.groupWatch:hover {
  background: rgb(198, 198, 198);
}
.groupWatch div {
  height: 40px;
  width: 40px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}
.groupWatch:hover div {
  background: rgb(198, 198, 198);
}

.groupWatch div img {
  width: 100%;
}

.subTitle {
  color: (249, 249, 249);
  font-size: 15px;
  min-height: 20px;
}

.description {
  line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);
}

@media only screen and (max-width: 768px) {
  .backgroundImg {
    width: initial;
  }

  .player {
    height: 45px;
    padding: 0px 12px;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
  }
  .playerImage {
    width: 25px;
  }
  .trailer {
    height: 45px;
    padding: 0px 12px;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
  }
  .trailerImage {
    width: 25px;
  }

  .subTitle {
    font-size: 12px;
  }
  .description {
    font-size: 14px;
  }
}
