.carousel {
  margin-top: 20px;
  position: relative;
}
.carousel > button {
  opacity: 0;
  height: 100%;
  width: 5vw;

  z-index: 1;
}
.carousel > button:hover {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}

.carousel ul li button::before {
  font-size: 10px;
  color: rgb(150, 158, 171);
}

.carousel li.slick-active button::before {
  color: white;
}

.carousel .slick-list {
  overflow: initial;
}

.carousel .slick-prev {
  left: -75px;
}
.carousel .slick-next {
  right: -75px;
}

.wrap {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.wrap a {
  border-radius: 4px;
  box-shadow: rgb(0 0 0/50%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 26px 30px -10px;
  cursor: pointer;
  display: block;
  position: relative;
}
.wrap img {
  width: 100%;
  height: 100%;
}

.wrap:hover {
  padding: 0;
  border: 4px solid rgba(249, 249, 249, 0.8);
  transition-duration: 300ms;
}
